@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:#f455ec;
}

html body {
    background-color: rgba(0,0,0,1.00);
  
  }



.abc{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #000;
}



.abc{
    font-size: 82.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: rgb(20, 20, 20);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: #222;
}
.price .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.price .box-container .box{
    padding:2rem 0;
    margin: 150px 20px;
    background:#333;
    border-radius: .5rem;
    text-align: center;
}

.price .box-container .box:hover{
    transform: scale(1.03);
}

.price .box-container .box .title{
    background:var(--main-color);
    color:#fcfafa;
    padding:1.5rem 0;
    font-size: 2rem;
}

.price .box-container .box .amount{
    color:#fff;
    padding-top: 2rem;
    font-size: 4rem;
}

.price .box-container .box ul{
    list-style-type: none;
    padding:1rem 0;
}

.price .box-container .box ul li{
    font-size: 1.5rem;
    color:#eee;
    padding:1rem 0;
}

.price .box-container .box ul li i{
    color:var(--main-color);
    padding-right: .5rem;
}
