<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css'><link rel="stylesheet" href="./css/footer.css">
    
    
   
    
    <footer class="bg-dark text-white pt-5 pb-4 footer " id="contact">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">ABOUT OUR EVENTS</h5>
                    <p>Your One Stop Solution For Making Any Event Memorable Or A Success. Making Dreams come true</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text uppercase mb- font-weight-bold text-warning">Event Planning</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Event Management</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Meeting & Event Blog</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Why choose us?</a></p>
         
                </div>
                <div class="col-md-3 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Information</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Terms Of Use</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">FAQ</a></p>
                   <p> <a href="#" class="text-white" style="text-decoration: none;">Help</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                    <p> <i class="fas fa-home mr-3"></i>Mangalevent@gmail.com</p>
                    <p> <i class="fas fa-envelope mr-3"></i>+91 1234567890</p>
                </div>
                <hr class="mb-4">
                <div class="col-mb-7 col-lg-8">
                    <p>Copyright @2023 All rights reserved by:MangalEvents
                        <a href="#" style="text-decoration: none;"><strong class="text-warning">MangalEvents</strong></a>
                    </p>
                </div>
                
            </div>
        </div>

    </footer>
        
</body>
</html>