<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/resources/static/css/global.css">
   <link rel="stylesheet"  href="/resources/static/css/landingpage.css">


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css'><link rel="stylesheet" href="/resources/static/css/footer.css">
    
    <!--Footer-->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css'><link rel="stylesheet" href="/resources/static/css/footer.css">
    
    
    <!-- <link rel="stylesheet" href="footer.css"> -->
    <!-- linking of fonts from googleapis -->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Imperial Script:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"/>
  </head>
  <body>  

    <!--  THIS IS OUR 4TH PAGE OF SERVICES AND REVIEWS-->

      
    <div class="home">
      
      <!--  -->
      <img class="home-child" alt="" src="/resources/static/public/rectangle-34.svg" />
      <div class="body-3">
        <button class="button" id="button">
          <img class="button-child" alt="" src="/resources/static/public/rectangle-3.svg" />
          <div class="what_clients">WHAT CLIENTS ARE SAYING</div>
        </button>
        <div class="wsi-container">
          <span class="wsi-container1">
            <p class="we-specialize-in">
              We specialize in planning and designing weddings and events in
              private homes and raw spaces. We pride ourselves on flawless
              execution with high level touches. Weekend affairs, multiple days
              of tent installation, ferries and travel logistics are a typical
              day at the office.
            </p>
            </span>
        </div>
        <div class="flawless-execution">Flawless Execution</div>
        <img class="wedding-icon" alt="" src="/resources/static/public/ten.png"
        />
      </div>
      <div class="body2">
        <img class="fruit-icon" alt="" src="/resources/static/public/fruit.png"/>
        <!-- end of third page -->
        <!-- SEND THING FROM LAST PAGE  -->
        <div class="personal-touches">Personal Touches</div>
        <div class="you-dont-only-container">
          <span class="we-specialize-in-container1"
            ><p class="we-specialize-in">
              You don’t only want a beautiful event, you want it to be YOUR
              beautiful event. We believe that behind every event is a story.
              So, whether it’s a bespoke escort card display or creative ways to
              make each guest feel included, we’re here to help you tell your
              story.
            </p></span>
        </div>
        <button class="button1" id="button1">
          <button class="button-item">
          <div class="our-services">Our Services</div></button></button>
          
          <!-- <textarea class="button2" id="button2"></textarea> -->
      </div>

      <!-- end of content -->
      
      <!-- the scrolling part of get startted -->
      
      
      <div class="body">

        <div class="abcd">
        <div class="decoration" id="decorationContainer">
          <div class="decoration-child"></div>
          <b class="decoration1">Decoration</b
          ><img class="pngwing-4-icon" alt="" src="/resources/static/public/ring.png" />
        </div>
        <div class="caterian" id="caterianContainer">
          <div class="caterian-child"></div>
          <img class="pngwing-3-icon" alt="" src="/resources/static/public/food.png"/>
          <b class="caterian1">Caterian</b>
        </div>
        <div class="caterian" id="caterianContainer">
          <div class="caterian-child"></div>
          <img class="pngwing-3-icon" alt="" src="/resources/static/public/food.png"/>
          <b class="caterian1">Caterian</b>
        </div>
        <div class="caterian" id="caterianContainer">
          <div class="caterian-child"></div>
          <img class="pngwing-3-icon" alt="" src="/resources/static/public/food.png"/>
          <b class="caterian1">Caterian</b>
        </div>
        <div class="venue" id="venueContainer">
          <div class="caterian-child"></div>
          <img class="pngwing-5-icon" alt="" src="/resources/static/public/decor.png" />
          <b class="venue1">Venue</b>
        </div> <div class="plan-your-wedding">
          <div class="plan-your-wedding-child"></div>
          <b class="easily-plan-your">Easily plan your wedding</b
          ><b class="get-started">Get started &gt;</b>

        </div>
        </div>

        <!-- <textarea class="plan-your-wedding"></textarea> -->
      </div>

<!-- end of scroll  -->
      <!-- Dashboard content part -->
      <div class="header">
        <div class="text">
          <div class="text-child"></div>
          <img class="pngwing-1-icon" alt="" src="/resources/static/public/colab.png"/>
          <a href="UserRegistration.html"><button class="button3">
            <div class="discount">Get Started</div>
           
          </button>
          </button> </a>


<button class="button4">
            <!-- <button class="button-inner"></button> -->
            <div class="discount">Discount</div>
          </button>
          <div class="som">
            <span class="wis-container1"
              ><p class="we-specialize-in">
                Search over 69,000 local professionals with reviews, pricing,
                and more
              </p></span>
          </div>
          <b class="discover-everything-you">Discover everything you need to plan your big day</b>
        </div>
      </div>

      <!-- Start of page -->
      <!-- <nav class="navbar bg-dark" data-bs-theme="dark"> -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/resources/static/public/logo.jpg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" th:href="@{/}" href="/resources/templates/index.html"><h4>Home</h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  th:href="@{/venue}" href="/resources/templates/venue.html"><h4>Venues</h4></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" th:href="@{/services}" href="/resources/templates/services.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <h4>Services</h4>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><h4>Catreen</h4></a></li>
                    <li><a class="dropdown-item" href="#"><h4>Decors</h4></a></li>
                    <li><a class="dropdown-item" href="#"><h4>Mehendi</h4></a></li>
                    <li><a class="dropdown-item" href="#"><h4>Anchors</h4></a></li>
                    <li><a class="dropdown-item" href="#"><h4>Choreographer</h4></a></li>
                    <li><a class="dropdown-item" href="#"><h4>Photographers</h4></a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/resources/templates/Gallery.html"><h4>Gallary</h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/resources/templates/Reviews.html"><h4>Reviews</h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/resources/templates/packages.html"><h4>Packages</h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/resources/templates/Aboutus.html"><h4>About </h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "  href="/resources/templates/contact.html"><h4>Contact </h4></a>
                </li>
                <div class="vend">
                 <a  href="/resources/templates/VendorLogin.html"> <h1 class="read">Are you  Vendor ?</h1></a>
                  <a href="/resources/templates/UserLogin.html"><button type="button" class="btn btn-outline-danger">Signup/Signin</button></a>
                </div>
              </ul>
            </div>
          </div>
        </nav>
    <!-- </nav> end-->
  
      <!-- footer Start -->
      <!-- <footer class="bg-dark text-white pt-5 pb-4 footer " id="contact">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">ABOUT OUR EVENTS</h5>
                    <p>Your One Stop Solution For Making Any Event Memorable Or A Success. Making Dreams come true</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text uppercase mb- font-weight-bold text-warning">Event Planning</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Event Management</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Meeting & Event Blog</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Why choose us?</a></p>
         
                </div>
                <div class="col-md-3 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Information</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Terms Of Use</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">FAQ</a></p>
                   <p> <a href="#" class="text-white" style="text-decoration: none;">Help</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                    <p> <i class="fas fa-home mr-3"></i>Mangalevent@gmail.com</p>
                    <p> <i class="fas fa-envelope mr-3"></i>+91 1234567890</p>
                </div>
                <hr class="mb-4">
                <div class="col-mb-7 col-lg-8">
                    <p>Copyright @2023 All rights reserved by:MangalEvents
                        <a href="#" style="text-decoration: none;"><strong class="text-warning">MangalEvents</strong></a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="" class="btn-floating btn-sm text-white"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="btn-floating btn-sm text-white"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="btn-floating btn-sm text-white"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="btn-floating btn-sm text-white"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer> -->
    </div>
<!-- end of page 1 -->
    <!-- <script>
      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          
        });
      }
      
      var button1 = document.getElementById("button1");
      if (button1) {
        button1.addEventListener("click", function (e) {
         
        });
      }
      
      var button2 = document.getElementById("button2");
      if (button2) {
        button2.addEventListener("click", function (e) {
          
        });
      }
      
      var decorationContainer = document.getElementById("decorationContainer");
      if (decorationContainer) {
        decorationContainer.addEventListener("click", function (e) {
          
        });
      }
      
      var caterianContainer = document.getElementById("caterianContainer");
      if (caterianContainer) {
        caterianContainer.addEventListener("click", function (e) {
          
        });
      }
      
      var venueContainer = document.getElementById("venueContainer");
      if (venueContainer) {
        venueContainer.addEventListener("click", function (e) {
         
        });
      }
      
      var signUpContainer = document.getElementById("signUpContainer");
      if (signUpContainer) {
        signUpContainer.addEventListener("click", function (e) {
          
        });
      }
      
      var vendorContainer = document.getElementById("vendorContainer");
      if (vendorContainer) {
        vendorContainer.addEventListener("click", function (e) {
          
        });
      }
      
      var loginContainer = document.getElementById("loginContainer");
      if (loginContainer) {
        loginContainer.addEventListener("click", function (e) {
        
        });
      }
      
      var signUpContainer1 = document.getElementById("signUpContainer1");
      if (signUpContainer1) {
        signUpContainer1.addEventListener("click", function (e) {
         
        });
      }
      
      var vendorContainer1 = document.getElementById("vendorContainer1");
      if (vendorContainer1) {
        vendorContainer1.addEventListener("click", function (e) {
          
        });
      }
      
      var servicesText = document.getElementById("servicesText");
      if (servicesText) {
        servicesText.addEventListener("click", function (e) {
          
        });
      }
      
      var eventsText = document.getElementById("eventsText");
      if (eventsText) {
        eventsText.addEventListener("click", function (e) {
          
        });
      }
      
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      
      var logoContainer = document.getElementById("logoContainer");
      if (logoContainer) {
        logoContainer.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script> -->

      <footer class="bg-dark text-white pt-5 pb-4 footer " id="contact">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">ABOUT OUR EVENTS</h5>
                    <p>Your One Stop Solution For Making Any Event Memorable Or A Success. Making Dreams come true</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text uppercase mb- font-weight-bold text-warning">Event Planning</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Event Management</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Meeting & Event Blog</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Why choose us?</a></p>
         
                </div>
                <div class="col-md-3 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Information</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">Terms Of Use</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;">FAQ</a></p>
                   <p> <a href="#" class="text-white" style="text-decoration: none;">Help</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact Us</h5>
                    <p> <i class="fas fa-home mr-3"></i>Mangalevent@gmail.com</p>
                    <p> <i class="fas fa-envelope mr-3"></i>+91 1234567890</p>
                </div>
                <hr class="mb-4">
                <div class="col-mb-7 col-lg-8">
                    <p>Copyright @2023 All rights reserved by:MangalEvents
                        <a href="#" style="text-decoration: none;"><strong class="text-warning">MangalEvents</strong></a>
                    </p>
                
            </div>
        </div>

    </footer>
  </body>
</html>
